
.icon-search-close-big:before { content: '\e800'; } /* '' */
.icon-section-break:before { content: '\e801'; } /* '' */
.icon-circle-arrow-down:before { content: '\e802'; } /* '' */
.icon-circle-arrow-left:before { content: '\e803'; } /* '' */
.icon-circle-arrow-right:before { content: '\e804'; } /* '' */
.icon-circle-arrow-up:before { content: '\e805'; } /* '' */
.icon-all_posts:before { content: '\f600'; } /* '' */
.icon-arrow_circle:before { content: '\f601'; } /* '' */
.icon-books:before { content: '\f602'; } /* '' */
.icon-close_circle:before { content: '\f603'; } /* '' */
.icon-close_thin:before { content: '\f604'; } /* '' */
.icon-comment_stroke_6:before { content: '\f605'; } /* '' */
.icon-dot:before { content: '\f606'; } /* '' */
.icon-down-arrow:before { content: '\f607'; } /* '' */
.icon-education:before { content: '\f608'; } /* '' */
.icon-energy:before { content: '\f609'; } /* '' */
.icon-gallery_1:before { content: '\f60a'; } /* '' */
.icon-gallery-breadcrumb_off:before { content: '\f60b'; } /* '' */
.icon-gallery-breadcrumb_on:before { content: '\f60c'; } /* '' */
.icon-grid-view:before { content: '\f60d'; } /* '' */
.icon-home:before { content: '\f60e'; } /* '' */
.icon-left-arrow-thick:before { content: '\f60f'; } /* '' */
.icon-left-arrow:before { content: '\f610'; } /* '' */
.icon-list-view:before { content: '\f611'; } /* '' */
.icon-list:before { content: '\f612'; } /* '' */
.icon-lives:before { content: '\f613'; } /* '' */
.icon-mail_4:before { content: '\f614'; } /* '' */
.icon-mail_plane:before { content: '\f615'; } /* '' */
.icon-open_circle_2:before { content: '\f616'; } /* '' */
.icon-open_thin:before { content: '\f617'; } /* '' */
.icon-personal:before { content: '\f618'; } /* '' */
.icon-philanthropy_v2:before { content: '\f619'; } /* '' */
.icon-play_arrow:before { content: '\f61a'; } /* '' */
.icon-popular_4:before { content: '\f61b'; } /* '' */
.icon-read-more_3:before { content: '\f61c'; } /* '' */
.icon-read-more_stroke-circle_2:before { content: '\f61d'; } /* '' */
.icon-read-more_stroke-circle:before { content: '\f61e'; } /* '' */
.icon-recent_4:before { content: '\f61f'; } /* '' */
.icon-right-arrow-thick:before { content: '\f620'; } /* '' */
.icon-right-arrow:before { content: '\f621'; } /* '' */
.icon-rss:before { content: '\f622'; } /* '' */
.icon-search-big:before { content: '\f623'; } /* '' */
.icon-search-close:before { content: '\f625'; } /* '' */
.icon-search:before { content: '\f626'; } /* '' */
.icon-share_5:before { content: '\f627'; } /* '' */
.icon-social_fb_2:before { content: '\f628'; } /* '' */
.icon-social_li_2:before { content: '\f629'; } /* '' */
.icon-social_reddit:before { content: '\f62a'; } /* '' */
.icon-social_tw_2:before { content: '\f62b'; } /* '' */
.icon-video-play:before { content: '\f62c'; } /* '' */
.icon-youtube_1:before { content: '\f62d'; } /* '' */
.icon-video-play-stroke-circle:before { content: '\f62e'; } /* '' */
.icon-bubble-comment:before { content: '\f62f'; } /* '' */